<div class="welcomecontainer">
  <svg (click)="closemodal()"  xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" class="close"><path _ngcontent-ltd-c10="" d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"></path></svg>
  <h1 class="hello">Hi there 👋</h1>
  <p class="main">Welcome to <strong>NG-commerce</strong> done in angular 15.2 <br> <br>
  This is a project done by <br>
  <span class="color">Wilson Douglas Chege </span> <br>
  A full stack developer <span class="color">(MEAN STACK)</span> <br> <br> it's a showcase of my abilities in the
 <span class="color">MEAN STACK </span>  <span class="color">Ecosystem</span>
  </p>

  <p class="text-sky-950"><br> visit my portfolio site for more  projects done in the
    <strong class="text-[rgb(20,184,166)] text-sm">MEAN STACK </strong>
  </p>

  <div class="link">

      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" style="fill: rgb(20,184,166);"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zM4 12c0-.899.156-1.762.431-2.569L6 11l2 2v2l2 2 1 1v1.931C7.061 19.436 4 16.072 4 12zm14.33 4.873C17.677 16.347 16.687 16 16 16v-1a2 2 0 0 0-2-2h-4v-3a2 2 0 0 0 2-2V7h1a2 2 0 0 0 2-2v-.411C17.928 5.778 20 8.65 20 12a7.947 7.947 0 0 1-1.67 4.873z"></path></svg>

    <a target="_blank" href="http://www.chegedouglas.dev">LStudios Afrika</a>

    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" style="fill: rgb(20,184,166);"><path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path></svg>

  </div>
</div>
