<app-navbar></app-navbar>
<div class="separator"></div>
<app-category></app-category>

<ng-container *ngIf="categoryproduct$|async as categoryproduct;else loading" >

  <div *ngIf="categoryproduct.length>0;else noproducts" class="container globalproductscontainer">
  <app-product *ngFor="let product of categoryproduct "[product]="product" ></app-product>


  <div *ngIf="productservice.noproducts==false" class="more ">

    <button (click)="fetchnext()">  more </button>
  </div>
  </div>
<ng-template #noproducts>
  <div class="container globalproductscontainer">

    <span  class="text-lg font-semibold">No products found</span>
  </div>
</ng-template>

</ng-container>

<ng-template #loading>
  <div class="categoryloading">
    <span>loading products ...</span>
  </div>
</ng-template>

<app-footer></app-footer>
