<app-navbar></app-navbar>


<div class="container">

    <div class="profile">
    <div *ngIf="imagesrcurlplaceholder==''" class="avatar" [style]="{ 'background-image': 'url(http://localhost:3000/' + userservice.user.value?.profileimg + ')' }" >
    </div>
    <div *ngIf="imagesrcurlplaceholder!=''" class="avatar" [style]="{ 'background-image': 'url(' +imagesrcurlplaceholder + ')' }" >
    </div>

    <div class="name">
      <div>{{userservice.user.value?.username}}</div>
      <button class="editicon" (click)="openmodal()">Edit profile</button>


    </div>
    <div class="menu">
        <button
        [ngClass]="{underlinebtn:uiservice.togglemenu$.value==true}"
        class="underlinebtn" (click)="uiservice.togglemenu$.next(true)">favorite products</button>
        <button
        [ngClass]="{underlinebtn:uiservice.togglemenu$.value==false}"
        (click)="uiservice.togglemenu$.next(false)">favorite stores</button>
    </div>

    <ng-container *ngIf="uiservice.togglemenu$.value==true">
      <ng-container *ngIf="myfavoriteproducts$|async as fav">
  <ng-container *ngIf="fav.length>0;else emptyproducts" >

    <div class="sectioncontainer">

        <div *ngFor="let item of fav" class="productviewcontainer " (click)="navigatetofavoriteproduct(item._id,item.store._id)">

          <div (mouseenter)="disablenavigation()" (mouseleave)="enablenavigation()" (click)="removefromfavorite(item._id)" class="favbtn">remove</div>
            <div class="productavatar" [style]="{ 'background-image': 'url(http://localhost:3000/' + item.productimages[0] + ')' }"></div>
            <div class="description">
                <div class="productname">{{item.productname}}</div>
                <div class="category">{{item.category}}</div>
            </div>
            <!-- <div class="views"></div>
            <div class="mostviewed"></div>
            <div class="salesview"></div> -->
        </div>
    </div>
  </ng-container>

        <ng-template #emptyproducts>
<div class=""></div>
          <div class="my-auto text-lg font-semibold text-teal-600">you don't have any product saved</div>

        </ng-template>
      </ng-container>

    </ng-container>
    <ng-container *ngIf="uiservice.togglemenu$.value==false">

        <div class="sectioncontainer">

            <div *ngFor="let item of [].constructor(5)"  class="productviewcontainer ">
                <div class="productavatar"></div>
                <div class="description">
                    <div class="name">wills electronics</div>
                    <div class="category"></div>
                </div>
                <div class="views"></div>
                <div class="mostviewed"></div>
                <div class="salesview"></div>
            </div>
        </div>
    </ng-container>





    </div>
</div>

<div *ngIf="uiservice.editprofilemodal$.value==true" class="editprofilemodal">
  <div class="profilemodal">
    <svg (click)="closemodal()" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="close" style="fill: rgba(20 184 166);"><path _ngcontent-hsv-c15="" d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm5 11h-4v4h-2v-4H7v-2h4V7h2v4h4v2z"></path></svg>

    <div *ngIf="imagesrcurl==''" class="profilepic" [style]="{ 'background-image': 'url(http://localhost:3000/' + userservice.user.value?.profileimg + ')' }" ></div>
    <div *ngIf="imagesrcurl!==''" class="profilepic" [style]="{ 'background-image': 'url(' + imagesrcurl+ ')' }" >

      <div (click)="removephoto()" class="removephoto">remove photo</div>
    </div>
<input type="file" class="hidden" (change)="attachprofilepicturetoform($event)" #file name="" id="">
    <button (click)="file.click()" class="changepic">change picture</button>

    <input class="usernameinput" placeholder="" type="text" [(ngModel)]="username">

    <ng-container *ngIf="userservice.user.value?.vendor==true">
    <div class="storestate">

        <span *ngIf="userservice.user.value?.storedeactivated==false">Disable store? </span>
        <span *ngIf="userservice.user.value?.storedeactivated==true">Enable store? </span>
      <input type="checkbox" name="" (change)="storeactivesatetoggle($event)" id="">
    </div>
  </ng-container>
    <button (click)="updateprofiledata()" class="changepic bgbtn">update profile</button>
  </div>
</div>


<app-globalmodal *ngIf="userservice.viewmodal$.value==true" [modalmessage]="userservice.modalmessage" [spinnerstate]="userservice.spinnerstate"></app-globalmodal>
