.container{
    @apply w-full pt-[75px] flex
    flex-col justify-start items-center
    gap-[10px] px-[10px] bg-slate-100
    min-h-screen mx-auto
    sm:flex-row sm:flex-wrap sm:justify-center
}

.card{
    @apply w-full max-w-[300px] min-h-[70px] drop-shadow-lg flex-row
    flex justify-start items-center bg-white rounded-sm
    cursor-pointer gap-2
    px-4
    xl:max-w-[225px] xl:min-h-[125px]

    ;

}
.mxauto{
    @apply sm:mr-auto md:ml-[70px]
    lg:mr-0 lg:ml-0
}
.cardtitle{
    @apply text-lg font-semibold text-teal-600
}
.cardquantity{
    @apply ml-auto text-slate-900 font-semibold
}

.myproductstitle{
    @apply text-white drop-shadow-lg w-full
    font-semibold text-base mr-auto pb-2
    md:ml-[35px]
    lg:ml-[25px]
    xl:ml-[50px]
    ;
    div{
        @apply p-1 px-4 rounded-sm bg-teal-600 w-fit
    }
}


.prodloading{
  @apply w-full  flex justify-center items-center text-base text-teal-600 font-semibold gap-5 min-h-[60vh]

}
.loading{
  @apply w-[50px] h-[50px] flex-col  flex justify-center items-center text-base text-teal-600 font-semibold
}


app-adminmodal{
  @apply w-full min-h-screen fixed top-0 bg-black/60 flex justify-center items-center flex-col z-[120]
}

.btnholder{
  @apply w-full text-center max-h-[50px] block my-[20px]
}

button{
  @apply w-[150px] p-2 px-[10px] bg-teal-500 text-white text-sm font-semibold mt-auto mx-auto mb-[50px]
  rounded-full
}
