<div class="cart">
<div class="panel" [ngClass]="{opencart:uiservice.cartpanel$.value==true}">
<div class="name">
  <svg (click)="cartservice.closecartpanel()" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1)"><path d="M12.707 17.293 8.414 13H18v-2H8.414l4.293-4.293-1.414-1.414L4.586 12l6.707 6.707z"></path></svg>

  <div>My Cart</div>
</div>

<!-- *ngIf="cartservice.activecart$.value.length==0" -->
<ng-container *ngIf="componentcart$|async as cart" >
   <!-- {{cart|json}} -->
<ng-container *ngIf="cart.products.length==0" >
  <div class="cartempty">
<div class="noproducts">No products in cart</div>
<button (click)="cartservice.closecartpanel()" class="backshopping">continue shopping</button>
  </div>
</ng-container>
<!-- *ngIf="cartservice.activecart$.value.length>0" -->
<ng-container *ngIf="cart.products.length>0" >

  <div class="cartfull">
<ul>
  <li class="cartheading" >
    <span>Product</span>
    <span>Quantity</span>
    <span> price</span>
  </li>
   <li *ngFor="let display of cart.products;trackBy:cartproducttrack;let i =index;">
    <span class="productname">{{display.product.productname}}</span>
    <span class="quantity">
<div (click)="reducequantity(i)" class="btn">-</div>
<div>{{display.quantity}}</div>
<div (click)="increasequantity(i)" class="btn">+</div>

    </span>
    <span>{{display.sumtotal}}</span>
     <!-- <div (click)="removeproductfromcart(i)" class="absolute w-5 h-5  right-0 top-[50%] translate-y-[-50%] cursor-pointer"></div> -->
    <svg _ngcontent-ujc-c12=""  (click)="confirmcartoverlay(display.product._id)"
    class=""
    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="close"
    style="rotate: 45deg;"><path _ngcontent-ujc-c12="" d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm5 11h-4v4h-2v-4H7v-2h4V7h2v4h4v2z"></path></svg>


  </li>

  <div class="total">
    <div>cart total</div>
    <div>{{cart.totalprice}}</div>
  </div>
  <button (click)="cartservice.checkoutprompt()" class="checkoutcart">
    <div>check out cart</div>
  </button>
</ul>
  </div>
</ng-container>

</ng-container>
<ng-container *ngIf="uiservice.cartpaneldeleteoverlay$.value==true" >
  <div class="overlay">
    <div class="deletemodal">
<span>Delete item from cart?</span>
<div class="btncontainer">
  <button class="btnn" (click)="deletecartproduct()">yes</button>
  <button class="btnn" (click)="cancelprompt()">no</button>
</div>

    </div>
  </div>
</ng-container>
</div>

</div>

<app-globalmodal *ngIf="uiservice.globalmodalcart$.value==true" [modalmessage]="modalmessage"
[spinnerstate]="uiservice.modalspinner$.value"
></app-globalmodal>
