.container{
    @apply min-w-full min-h-screen px-2 bg-slate-100 flex   flex-col
    justify-start items-center mt-[70px] gap-2
    lg:flex-row lg:justify-center
    lg:max-w-[1200px] lg:gap-5

}
.main{
@apply w-full flex flex-col px-2  mx-auto
md:max-w-[550px]
 lg:mx-0 lg:max-w-[650px] lg:ml-2 lg:mb-10
}

.rightsidepanel{
@apply w-full flex flex-col min-h-screen  flex-grow  mb-auto
md:max-w-[550px]
lg:max-w-[400px]
}
.mainimage{
    @apply bg-cover w-full min-h-[250px]  rounded-lg bg-slate-800/0  flex justify-center items-center   relative
    sm:min-h-[350px]

    ;
    .img{
        @apply min-h-[inherit]
    }
    .expandimage{
        @apply absolute w-[40px] h-[40px] rounded-md bg-white/20
        flex justify-center items-center left-2 top-4
         cursor-pointer
    }
    .leftarrow{
        @apply absolute w-[40px] h-[40px] rounded-full bg-white/20
        flex justify-center items-center left-2 top-[50%]
        translate-y-[-50%] cursor-pointer
    }
    .rightarrow{
        @apply absolute w-[40px] h-[40px] rounded-full bg-white/20
        flex justify-center items-center right-2 top-[50%]
        translate-y-[-50%] cursor-pointer
    }

}

.gallery{
    @apply w-full flex justify-start items-center min-h-[50px]
     bg-orange-600 overflow-x-scroll

}

.item{
    @apply w-full  flex justify-between items-center;
    .name{
        @apply font-bold text-2xl text-teal-600
    }
    .price{
        @apply w-fit min-h-[20px]  h-fit px-2 text-lg font-semibold
    }
}


.specification{
    @apply w-full flex justify-start items-start flex-col  h-fit py-2
     bg-slate-100 overflow-x-scroll px-2 ;
     ul li{
        @apply  text-base font-semibold flex items-center justify-start ;
        // .dot{
        //     @apply w-2 h-2 bg-slate-900 rounded-full mr-1
        // }
     }

     .bullet{
      @apply w-2 h-2 mt-[3px] mr-2 bg-teal-500 rounded-full
     }


}

.description{
    @apply w-full block min-h-[50px] h-fit
      overflow-x-scroll p-2 mb-2;
     .descriptiontitle{
@apply w-full block h-fit text-left font-bold
text-lg text-teal-600
     }

}
.addtocart{
  @apply w-full min-h-[50px]  flex
  justify-center mb-3 gap-10 items-center
  md:justify-start
;
  .quantity{
    @apply min-w-fit h-[30px]
    p-2 flex justify-center gap-2 items-center
;
span{
  @apply text-base font-bold text-slate-950 mx-2
}
.btncart{
  @apply w-[30px] h-[30px]
   flex justify-center
  items-center rounded-lg bg-slate-900 text-white text-lg
  font-semibold
}
  }
.addproduct{
  @apply min-w-[100px] text-sm
  text-white
  font-bold bg-slate-950 p-2 px-4
  rounded-full pb-2
}
.fav{
  @apply bg-teal-500
}
}
.store{
    @apply  w-full min-h-[100px] flex justify-center
    items-center gap-2 flex-wrap px-2

    ;
    .logo{
        @apply w-[50px] h-[50px] bg-slate-400 rounded-full bg-cover bg-center overflow-hidden flex p-2
        justify-center items-center;
        img{
          @apply w-[100%] h-[100%] min-w-[60px] min-h-[60px]
        }


    }

    .storename{
        @apply flex-grow max-w-[250px]
        text-sm font-bold
    }
    .visitstore{
@apply w-full max-w-[150px] p-2 px-4 bg-slate-900 text-white
text-sm font-semibold rounded-sm mb-1
    }
}

.similarads{
    @apply w-full  min-h-[200px]  flex flex-col justify-start items-center gap-2 pt-5 drop-shadow-lg

    ;
    .storename{
        @apply  max-w-[350px] mr-auto bg-teal-600 p-1 pr-5 rounded-r-full drop-shadow-lg shadow-black text-white
        w-fit py-[10px] align-middle
        text-sm font-bold
    }

    .storeadvert{
        @apply w-full min-h-[80px] flex justify-start items-center gap-2 bg-white px-2 py-1 cursor-pointer
        max-w-[400px]
        sm:max-w-[550px]
        lg:min-h-[100px]
        ;
        .img{
          @apply h-fit w-fit  max-w-[65px] max-h-[65px] rounded-lg bg-cover overflow-hidden bg-slate-400 flex justify-center items-center
           bg-center
        }
        .productdesc{
            @apply flex-grow max-h-[inherit] flex flex-col justify-start items-start pl-5 relative;
            .title{
                @apply text-teal-600 text-lg font-bold text-left
            }
            .price{
                @apply text-teal-600 text-sm font-semibold
            }

            .arrow{
                @apply w-[40px] h-[40px] flex justify-center
                items-center rounded-full drop-shadow-lg   top-[50%] translate-y-[-50%] bg-white absolute right-0
            }
        }
    }
.morethanfive{
  @apply hidden
}
    .bottomseperator{
        @apply w-full  min-h-[50px]
    }
}

.fullimage{
    @apply w-full min-h-screen bg-black/80 flex  justify-center items-center
    fixed top-0 z-50;
    .collapseimage{
        @apply absolute w-[40px] h-[40px] rounded-md bg-white/40
        flex justify-center items-center left-2 top-4
         cursor-pointer
    }
    .image{
        @apply  w-full min-h-fit  md:max-w-[600px] lg:max-w-[800px] flex justify-center items-center  bg-contain ;
        .leftarrow{
            @apply absolute w-[40px] h-[40px] rounded-full bg-white/40
            flex justify-center items-center left-2 top-[50%]
            translate-y-[-50%] cursor-pointer
        }
        .rightarrow{
            @apply absolute w-[40px] h-[40px] rounded-full bg-white/40
            flex justify-center items-center right-2 top-[50%]
            translate-y-[-50%] cursor-pointer
        }
    }
}

.skeleton{
  @apply relative min-h-[100vh] w-full bg-slate-100 flex justify-start
  items-center flex-col pt-[50px] mx-auto

  lg:flex-row lg:max-w-[950px] lg:justify-center lg:items-start
  lg:gap-[50px]
}

.pulseanimation{
  @apply min-h-[inherit] w-[150px]  absolute top-0
  z-20 left-0 bg-gradient-to-r from-transparent via-slate-100/50 to-transparent;


  animation: pulsing 2s  infinite;
}
.mobileskeleton{
  @apply w-full max-w-[300px] sm:max-w-[500px]
}
.sidepanel{
  @apply hidden lg:flex w-full max-w-[350px] min-h-screen
  bg-slate-300 rounded-md
}
.productimage{
  @apply w-full max-w-[300px] h-[250px] bg-slate-300 rounded-md
  sm:max-w-[500px] sm:h-[300px]

}
.imagearray{
  @apply max-h-[100px] mt-5 flex justify-evenly items-center gap-[10px] px-[10px]
}
.imgsize{
  @apply flex-grow sm:max-w-[100px]
}

.otherproducts{
  @apply h-fit my-5 flex flex-col justify-start items-center
  py-[10px] px-2
}
.skeletonproduct{
  @apply
  w-full min-h-[75px] bg-slate-200 rounded-md my-[10px]
}


@keyframes pulsing{
  0%{
    @apply left-0
  }
  100%{
    @apply left-[100%]
  }
}
