.container{
    @apply min-w-full min-h-screen px-2 bg-slate-100 flex   flex-col
    justify-start items-center mt-[70px] gap-2
    lg:flex-row lg:justify-center
    lg:max-w-[1200px] lg:gap-5

}
.main{
@apply w-full flex flex-col px-2  mx-auto
md:max-w-[550px]
 lg:mx-0 lg:max-w-[650px] lg:ml-2 lg:mb-10
}

.rightsidepanel{
@apply w-full flex flex-col min-h-screen  flex-grow  mb-auto
md:max-w-[550px]
lg:max-w-[400px]
}
.mainimage{
    @apply bg-cover w-full min-h-[200px]  rounded-lg bg-slate-800    relative
    md:min-h-[350px]

    ;
    .expandimage{
        @apply absolute w-[40px] h-[40px] rounded-md bg-white/20
        flex justify-center items-center left-2 top-4
         cursor-pointer
    }
    .leftarrow{
        @apply absolute w-[40px] h-[40px] rounded-full bg-white/20
        flex justify-center items-center left-2 top-[50%]
        translate-y-[-50%] cursor-pointer
    }
    .rightarrow{
        @apply absolute w-[40px] h-[40px] rounded-full bg-white/20
        flex justify-center items-center right-2 top-[50%]
        translate-y-[-50%] cursor-pointer
    }

}

.gallery{
    @apply w-full flex justify-start items-center min-h-[50px]
     bg-orange-600 overflow-x-scroll

}

.item{
    @apply w-full  flex justify-between items-center;
    .name{
        @apply font-bold text-2xl text-teal-600
    }
    .price{
        @apply w-fit min-h-[20px]  h-fit px-2 text-lg font-semibold
    }
}


.specification{
    @apply w-full flex justify-start items-start flex-col  h-fit py-2
     bg-slate-100 overflow-x-scroll px-2 ;
     ul li{
        @apply  text-base font-semibold flex items-center justify-start ;
        // .dot{
        //     @apply w-2 h-2 bg-slate-900 rounded-full mr-1
        // }
     }


}

.description{
    @apply w-full block min-h-[50px] h-fit
      overflow-x-scroll p-2 mb-2;
     .descriptiontitle{
@apply w-full block h-fit text-left font-bold
text-lg text-teal-600
     }

}
.addtocart{
  @apply w-full min-h-[50px]  flex
  justify-center mb-3 gap-10 items-center
;
  .quantity{
    @apply min-w-fit h-[30px]
    p-2 flex justify-center gap-2 items-center
;
span{
  @apply text-base font-bold text-slate-950 mx-2
}
.btncart{
  @apply w-[30px] h-[30px]
   flex justify-center
  items-center rounded-lg bg-slate-900 text-white text-lg
  font-semibold
}
  }
.addproduct{
  @apply min-w-[100px] text-sm
  text-white
  font-bold bg-slate-950 p-2 px-4
  rounded-full pb-2
}
}
.store{
    @apply  w-full min-h-[100px] flex justify-center
    items-center gap-2 flex-wrap px-2

    ;
    .logo{
        @apply w-[50px] h-[50px] bg-purple-400 rounded-full


    }

    .storename{
        @apply flex-grow max-w-[250px]
        text-lg font-bold
    }
    .visitstore{
@apply w-full max-w-[250px] p-2 px-4 bg-slate-900 text-white
text-sm font-semibold rounded-full mb-1
    }
}

.similarads{
    @apply w-full  min-h-[200px]  flex flex-col justify-start items-center gap-2 pt-5 drop-shadow-lg;
    .storename{
        @apply  max-w-[250px] mr-auto bg-teal-600 p-1 pr-5 rounded-r-full drop-shadow-lg shadow-black text-white
        w-fit
        text-lg font-bold
    }

    .storeadvert{
        @apply w-full min-h-[70px] flex justify-start items-center gap-2 bg-white px-2 py-1 cursor-pointer;
        .img{
          @apply  w-[65px] h-[65px] rounded-lg bg-cover overflow-hidden bg-red-400
        }
        .productdesc{
            @apply flex-grow min-h-[inherit] flex flex-col justify-center items-start pl-5 relative ;
            .title{
                @apply text-teal-600 text-lg font-bold
            }
            .price{
                @apply text-teal-600 text-sm font-semibold
            }

            .arrow{
                @apply w-[40px] h-[40px] flex justify-center items-center rounded-full drop-shadow-lg  mr-2 ml-auto top-[50%] translate-y-[-50%] bg-white
            }
        }
    }

    .bottomseperator{
        @apply w-full  min-h-[50px]
    }
}

.fullimage{
    @apply w-full min-h-screen bg-black/80 flex  justify-center items-center
    fixed top-0 z-50;
    .collapseimage{
        @apply absolute w-[40px] h-[40px] rounded-md bg-white/40
        flex justify-center items-center left-2 top-4
         cursor-pointer
    }
    .image{
        @apply  w-full min-h-[50vh] bg-blue-500 max-w-[500px] bg-contain ;
        .leftarrow{
            @apply absolute w-[40px] h-[40px] rounded-full bg-white/40
            flex justify-center items-center left-2 top-[50%]
            translate-y-[-50%] cursor-pointer
        }
        .rightarrow{
            @apply absolute w-[40px] h-[40px] rounded-full bg-white/40
            flex justify-center items-center right-2 top-[50%]
            translate-y-[-50%] cursor-pointer
        }
    }
}
