<div class="logincomponent">

    <!-- <div class="hidden lg:flex w-[75%] left-[25%] fixed h-screen mt-[50px] roun ded-tl-lg     flex-col justify-start items-center"> -->

<div class="flex flex-col justify-center items-center  ">
        <!-- <svg xmlns="http://www.w3.org/2000/svg" class="h-[150px] w-[150px]   rounded-full p-4 " viewBox="0 0 20 20" fill="rgb(255 255 255)">
            <path d="M2 5a2 2 0 012-2h7a2 2 0 012 2v4a2 2 0 01-2 2H9l-3 3v-3H4a2 2 0 01-2-2V5z" />
            <path d="M15 7v2a4 4 0 01-4 4H9.828l-1.766 1.767c.28.149.599.233.938.233h2l3 3v-3h2a2 2 0 002-2V9a2 2 0 00-2-2h-1z" />
          </svg> -->
          <svg xmlns="http://www.w3.org/2000/svg" class="h-[150px] w-[150px]   rounded-full p-4 "
           width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255 255 255 )"><path d="M4 20h2V10a1 1 0 0 1 1-1h12V7a1 1 0 0 0-1-1h-3.051c-.252-2.244-2.139-4-4.449-4S6.303 3.756 6.051 6H3a1 1 0 0 0-1 1v11a2 2 0 0 0 2 2zm6.5-16c1.207 0 2.218.86 2.45 2h-4.9c.232-1.14 1.243-2 2.45-2z"></path><path d="M21 11H9a1 1 0 0 0-1 1v8a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-8a1 1 0 0 0-1-1zm-6 7c-2.757 0-5-2.243-5-5h2c0 1.654 1.346 3 3 3s3-1.346 3-3h2c0 2.757-2.243 5-5 5z"></path></svg>


        <h1 class=" mt-0 text-3xl    flex justify-center items-center relative font-semibold text-white rounded-md px-7 ">
          <span class="text-teal-500 bg-white font-bold p-2 rounded-l-md ">NG</span>
          <span class="text-white border-[4px] border-white py-1 relative  rounded-r-md px-5 border-l-0 translate-x-[-5px]">  COMMERCE</span>

        </h1>
      </div>
        <!-- <button (click)="ui.loginform()" class="flex items-center justify-center px-8 mt-5 font-light text-white bg-transparent border-2 border-white rounded-full w-fit h-fit"><div class="mb-1">login</div></button> -->
        <!-- <div class="w-1/2 font-thin mt-[50px] text-center text-white ">Log in with</div> -->
<div *ngIf="register==false;" class="logincontainer   ">
          <!-- <div>sign in</div> -->
         <!-- <div class="flex flex-col items-center justify-start cursor-pointer">   <img (click)="api.googlesignin()" class="w-[40px] h-[40px]" src="../../../assets/fb.svg" alt="" srcset=""> <span class="font-normal text-white"></span></div> -->
          <input (keyup)="emailvalidator($event)" class="input" [(ngModel)]="email" placeholder="email" type="email">
  <span class="w-full text-xs text-white font-semibold text-left" *ngIf="invalidemailmatch">{{inavlidemailnmatchmessage}}</span>

          <input class="input" (keyup)="passwordlength($event)" [(ngModel)]="password" placeholder="password" type="password" >
  <span class="w-full text-xs text-white font-semibold text-left" *ngIf="passwordlengthmatch">{{passwordlengthmessage}}</span>

          <button (click)="loginuser()" class="loginbtnmail"><div [ngClass]="{'registerpulse':logingin==true}">{{logintext}}</div> </button>

          <div class="sociallogincontainer">
            <div class="or">or</div>
            <div class="underline"></div>

          </div>
         <!-- <div class="flex flex-col items-center justify-start">   <img (click)="api.googlesignin()" class="w-[40px] h-[40px]" src="../../../assets/email.svg" alt="" srcset=""> <span class="font-normal text-white">email</span></div> -->
      <!-- (click)="api.googlesignin()" -->
         <button class="loginbtn " >
          <div>sign in with </div>
          <svg xmlns="http://www.w3.org/2000/svg"  width="24" height="24" viewBox="0 0 24 24"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-10.333 16.667c-2.581 0-4.667-2.087-4.667-4.667s2.086-4.667 4.667-4.667c1.26 0 2.313.46 3.127 1.22l-1.267 1.22c-.347-.333-.954-.72-1.86-.72-1.593 0-2.893 1.32-2.893 2.947s1.3 2.947 2.893 2.947c1.847 0 2.54-1.327 2.647-2.013h-2.647v-1.6h4.406c.041.233.074.467.074.773-.001 2.666-1.787 4.56-4.48 4.56zm11.333-4h-2v2h-1.334v-2h-2v-1.333h2v-2h1.334v2h2v1.333z"/></svg>

        </button>


         <!-- <div class="flex flex-col items-center justify-start cursor-pointer">   <img (click)="api.googlesignin()" class="w-[40px] h-[40px]" src="../../../assets/2659939281579738432.svg" alt="" srcset=""><span class="font-normal text-white"></span> </div> -->
        </div>


<div *ngIf="register==true;" class="registercontainer  ">
  <input (keyup)="emailvalidator($event)" class="input" placeholder="email" [(ngModel)]="email" type="email">
  <span class="w-full text-xs text-white font-semibold text-left" *ngIf="invalidemailmatch">{{inavlidemailnmatchmessage}}</span>

  <input class="input" (keyup)="usernamevalidator($event)" placeholder="username" [(ngModel)]="username" type="text">
  <span class="w-full text-xs text-white font-semibold text-left" *ngIf="inavlidusernamelength">{{inavlidusernamelengthmessage}}</span>

 

  <input class="input" (keyup)="passwordlength($event)" placeholder="password" [(ngModel)]="password" type="password" >
  <span class="w-full text-xs text-white font-semibold text-left" *ngIf="passwordlengthmatch">{{passwordlengthmessage}}</span>

    <input class="input" (keyup)="passwordmatch($event)" placeholder="re-password" [(ngModel)]="reenterpassword" type="password">
 <span class="w-full text-xs text-white font-semibold text-left" *ngIf="passwordmissmatch">{{passwordmissmatchmessage}}</span>

 <ng-container *ngIf="vendoraccount">

  <input class="input" (keyup)="storenamevalidator($event)" placeholder="store name" [(ngModel)]="storename" type="text">
  <span class="w-full text-xs text-white font-semibold text-left" *ngIf="inavlidstorenamelength">{{inavlidstorenamelengthmessage}}</span>
</ng-container>

 <div class="vendor"><span>vender account?</span> <input (change)="createvendor($event)" type="checkbox" name="" id=""></div>
  <button (click)="registeruser()"  class="loginbtnmail"><div [ngClass]="{'registerpulse':registering==true}">{{registertext}}</div> </button>

</div>



<div  (click)="toggleregister()" *ngIf="register==false" class="register  z-20 bottom-1 w-full  mt-10 text-center">don't have an account? <strong class="cursor-pointer">Register</strong></div>
<div (click)="toggleregister()" *ngIf="register==true" class="register w-full  z-20 bottom-1  mt-10 text-center" >have an account? <strong class="cursor-pointer">log in</strong></div>

        <!-- <p class="mt-auto mb-4 font-normal text-blue-200">dont have an account? <span class="font-bold text-white cursor-pointer" (click)="ui.registerform()">register</span></p> -->

        <!-- *ngIf="ui.form==='login'" -->

</div>
