
<!--  -->
        <div (click)="navigate()" class="card">

         <div class="cardimage">
         <!-- <h1>IMAGE</h1> -->
         <img src="http://localhost:3000/{{product.productimages[0]}}" alt="" srcset="">

         </div>

         <!-- <ng-container *ngIf="uiservice.currentroute !='/admin'" > -->
          <div *ngIf="admin==false" class="productdetails">
<div (mouseenter)="mouseenter()" (mouseleave)="mouseleave()" (click)="addproduct(product._id)" class="cart">
  <!-- <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" style="fill:#14b8a6"><circle cx="10.5" cy="19.5" r="1.5"></circle><circle cx="17.5" cy="19.5" r="1.5"></circle><path d="M21 7H7.334L6.18 4.23A1.995 1.995 0 0 0 4.333 3H2v2h2.334l4.743 11.385c.155.372.52.615.923.615h8c.417 0 .79-.259.937-.648l3-8A1.003 1.003 0 0 0 21 7zm-4 6h-2v2h-2v-2h-2v-2h2V9h2v2h2v2z"></path></svg> -->
<button>+ cart</button>

</div>
            <h1 class="productname">{{product.productname}}</h1>
            <h1 class="productcategory ">{{product.category}}</h1>
            <h2 class="productprice">{{product.productprice}}</h2>
            <div class="views">views:{{product.viewcount}}</div>



          </div>

            <!-- </ng-container> -->

            <!-- <ng-container *ngIf="uiservice.currentroute =='/admin'"> -->
                <div *ngIf="admin==true" class="editproduct">
                    <div class="title">{{product.productname}}</div>
                    <div class="qty">stock:{{product.productquantity}}</div>

                    <button (click)="producttoedit()" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()" class="block w-full p-1 px-2 mt-1 text-sm font-bold text-white bg-teal-500 rounded-full">Edit</button>

                </div>
            <!-- </ng-container> -->

        </div>
<!--  -->
