.card{
    @apply  cursor-pointer
     drop-shadow-lg
     h-[225px]

    shadow-md shadow-black/40
     bg-white rounded-sm
      flex flex-col justify-start items-center
     md:max-w-[220px]
     xl:max-w-[250px]
     xl:h-[280px]
    }
.cardimage{
    @apply  w-full text-white
    font-semibold overflow-hidden rounded-t-sm min-h-[70%]
     bg-white bg-cover flex items-center justify-center;
     img{
      @apply w-[auto] h-[100%]
     }

}
.productdetails{
    @apply relative flex flex-col items-start justify-start w-full pl-2 mt-auto
     bg-slate-100  h-fit lg:my-auto border-t-2 border-black/30
}

.productname{
    @apply text-base font-semibold text-slate-950
}

.productcategory{
    @apply text-xs font-bold cursor-pointer text-teal-500 lg:text-sm
}

.productprice{
    @apply my-1 text-sm font-semibold text-slate-900
}
.views{
  @apply absolute z-10 bottom-1 right-1 text-teal-600 font-bold text-sm
}

.notfavorited{
    @apply absolute fill-slate-950 right-2 bottom-1
}

.favorited{
    @apply absolute fill-pink-600 right-8 bottom-1
}

.editproduct{
    @apply w-full flex justify-between items-start py-1 px-3 flex-wrap min-h-fit
}

.title{
    @apply text-sm font-bold text-teal-700 max-w-[125px] truncate
}
.qty{
    @apply text-sm font-semibold text-slate-900
}
