
<!--  -->
        <div (click)="navigate()" class="card">

         <div class="cardimage">
         <!-- <h1>IMAGE</h1> -->
         <img src="http://localhost:3000/{{product.productimages[0]}}" alt="" srcset="">

         </div>

         <!-- <ng-container *ngIf="uiservice.currentroute !='/admin'" > -->
          <div *ngIf="admin==false" class="productdetails">

            <h1 class="productname">{{product.productname}}</h1>
            <h1 class="productcategory ">{{product.category}}</h1>
            <h2 class="productprice">{{product.productprice}}</h2>



          </div>

            <!-- </ng-container> -->

            <!-- <ng-container *ngIf="uiservice.currentroute =='/admin'"> -->
                <div *ngIf="admin==true" class="editproduct">
                    <div class="title">{{product.productname}}</div>
                    <div class="qty">stock:{{product.productquantity}}</div>

                    <button (mouseenter)="mouseenter()" (mouseleave)="mouseleave()" class="block w-full p-1 px-2 mt-1 text-sm font-bold text-white bg-teal-500 rounded-full">Edit</button>

                </div>
            <!-- </ng-container> -->

        </div>
