<div class="main">
    <p class="pagetitle">Latest in store</p>
    <div class="scrollrect

    ">
<!-- <div *ngIf="viewproducts$|async as products" ><pre>{{products|json}}</pre></div> -->
<!-- <div *ngIf="viewproducts2$|async as products" ><pre>{{products|json}}</pre></div> -->

<ng-container *ngIf="viewproducts2$|async as products" >

  <app-product  *ngFor="let _product of products; ngForngForTrackBy:productngForTrackBy;let i=index"[product]="_product" ></app-product>

      </ng-container>

      <div class="btnholder ">
        <button class="" (click)="getnextproducts()">more</button>
      </div>
    </div>
</div>
