<div class=" w-full px-2 pt-5 min-h-[200px] h-fit bg-slate-100 relative flex flex-col justify-start items-start gap-2 my-5">
    <p *ngIf="categories.length>0" class="  text-teal-600 font-bold ">Categories</p>
    <p *ngIf="brands.length>0" class="  text-teal-600 font-bold ">Brands</p>
    <div class="scrollrect  overflow-scroll scrollbar-thin flex justify-start items-center gap-5 w-full mb-5 ">
<ng-container *ngIf="categories.length>0" >
    <div [routerLink]="['categories']" [queryParams]="{ category:'all'}"  class=" min-w-[125px] cursor-pointer h-[125px] bg-teal-500 rounded-sm flex-grow flex flex-col justify-center items-center gap-2">
        <div class="icon w-10 h-10 rounded-full bg-orange-50 shadow-sm shadow-black/40"></div>
        <div class="lable text-lg font-semibold text-white">All categories</div>
    </div>
    <div [routerLink]="['categories']" [queryParams]="{ category:category.category}" *ngFor="let category of categories" class=" min-w-[125px] cursor-pointer h-[125px] bg-teal-500 rounded-sm flex-grow flex flex-col justify-center items-center gap-2">
        <div class="icon w-10 h-10 rounded-full bg-orange-50 shadow-sm shadow-black/40"></div>
        <div class="lable text-lg font-semibold text-white">{{category.category}}</div>
    </div>
</ng-container>

<ng-container *ngIf="brands.length>0" >
    <div [routerLink]="['brands']" [queryParams]="{ brand:'all'}"
    routerLinkActive="router-link-active"  class=" min-w-[125px] cursor-pointer h-[125px] bg-teal-500 rounded-sm flex-grow flex flex-col justify-center items-center gap-2">
        <div class="icon w-10 h-10 rounded-full bg-orange-50 shadow-sm shadow-black/40"></div>
        <div class="lable text-lg font-semibold text-white">All brands</div>
    </div>
    <div [routerLink]="['brands']" [queryParams]="{ brand:brand.brand}"
    routerLinkActive="router-link-active" *ngFor="let brand of brands" class=" min-w-[125px] cursor-pointer h-[125px] bg-teal-500 rounded-sm flex-grow flex flex-col justify-center items-center gap-2">
        <div class="icon w-10 h-10 rounded-full bg-orange-50 shadow-sm shadow-black/40"></div>
        <div class="lable text-lg font-semibold text-white">{{brand.brand}}</div>
    </div>
</ng-container>
       
    </div>
</div>
