/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,body{
    @apply bg-slate-100;
 margin: 0;

    padding: 0;
}

.globalproductscontainer{
  @apply flex flex-col justify-start items-stretch gap-3 w-full
   sm:flex-row sm:flex-wrap sm:justify-center

}

app-product{
  @apply   mx-auto max-w-[250px] w-full sm:mx-0 sm:max-w-[220px] lg:max-w-[225px] xl:max-w-[250px]
}
